
@{
    ViewData["Title"] = "Home";
}

<h2>Welcome to AtoZ Banking App</h2>
<div>
    <label>View all Accounts @Html.ActionLink("here", "Accounts", "AtoZBanking")</label><br />
    <label>Initiate a Transfer @Html.ActionLink("here", "InitiateTransfer", "AtoZBanking")</label><br />
    <label>View all Transactions @Html.ActionLink("here", "TransactionDetails", "AtoZBanking")</label><br />
</div>

